.c1{
    border: 2px solid blue ;
    margin-bottom: 5px;
    padding: 10px;
    background-color: darkgrey;
}

.c2{
    border: 2px solid blue ;
    margin-bottom: 5px;
    padding: 10px;
    background-color: coral;
    position: relative;
    top: 220px;
}

.c3{
    border: 2px solid chocolate ;
    margin-bottom: 5px;
    padding: 10px;
    background-color: aquamarine;
    position: absolute;
    top: 0px;
}

.c4{
    border: 2px solid  ;
    margin-bottom: 5px;
    padding: 10px;
    background-color: dimgray;
}