.c1{
    border: 2px solid blue ;
    margin-bottom: 5px;
    padding: 10px;
    background-color: crimson;
}

.c2{
    border: 2px solid blue ;
    margin-bottom: 5px;
    padding: 10px;
    background-color: cadetblue;
    position: relative;
    top: 220px;
}

.c3{
    border: 2px solid blue ;
    margin-bottom: 5px;
    padding: 10px;
    background-color: cornflowerblue;
    position: absolute;
    top: 0px;
}

.c4{
    border: 2px solid blue ;
    margin-bottom: 5px;
    padding: 10px;
    background-color: darksalmon;
}